{% extends 'base.html' %}
{% load static main_tags %}

{% block title %}
    <title>Про {{ site_main_title }}</title>
{% endblock %}

{% block content %}

<div class="bg-white p-4 mt-5 mb-5 rounded">
    <h1 class="text-center mb-4">Про {{ site_main_title }}</h1>
    <p>
        <b>{{ site_main_title }}</b> — це Тренувальний зал, через розробку якого я пізнаю фреймворк Django.
    </p>
    <h2 class="text-center">КОНТАКТИ</h2>
    <p>
        З питань різних питань звертайтесь за адресою 
        <i><a href="mailto:{{ support_email }}">{{ support_email }}</a></i>.
    </p>
</div>

{% endblock %}
