{% extends 'base.html' %}

{% block content %}

<div class="row bg-dark mt-4 rounded">
    <!-- List -->
    <div class="content col-md-9 m-2">

        <h2 class="text-white">
            <i class="bi bi-arrow-clockwise"></i> 
            Інформація про додаток та хостинг
            <i class="bi bi-arrow-bar-down"></i></h2>

        <table class="table table-dark">
            <tbody>
                <tr>
                    <th scope="row">Додаток</th>
                    <td>{{ site_main_title }}</td>
                </tr>
                <tr>
                    <th scope="row">Python</th>
                    <td>{{ python_v }}</td>
                </tr>
                <tr>
                    <th scope="row">Django</th>
                    <td>{{ django_v }}</td>
                </tr>
                <tr>
                    <th scope="row">DRF</th>
                    <td>{{ drf_v }}</td>
                </tr>
                <tr>
                    <th scope="row">SQLite</th>
                    <td>{{ database_v }}</td>
                </tr>
                <tr>
                    <th scope="row">Архітектура OS</th>
                    <td>{{ architecture.0 }} {{ architecture.1 }}</td>
                </tr>
                <tr>
                    <th scope="row">Machine</th>
                    <td>{{ machine }}</td>
                </tr>
                <tr>
                    <th scope="row">Процессор</th>
                    <td>{{ processor }}</td>
                </tr>
                <tr>
                    <th scope="row">python_implem</th>
                    <td>{{ python_implem }} ({{ python_revision }})</td>
                </tr>
                <tr>
                    <th scope="row">python_compiler</th>
                    <td>{{ python_compiler }}</td>
                </tr>
                <tr>
                    <th scope="row">python_branch</th>
                    <td>{{ python_branch }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
