{% extends 'base.html' %}
{% load static humanize main_tags %}

{% block title %}
    <title>Розклад: {{ trainer.user.get_full_name }} - {{ site_main_title }}</title>
{% endblock %}

{% block content %}

<div class="container mt-5 mb-3">
    <div class="row justify-content-center">
        <div class="col-md-6 bg-white p-4 rounded">
            <form class="form-reservation" method="POST">
                {% csrf_token %}
                {% if form.non_field_errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <p>{{ form.non_field_errors }}</p>
                    </div>
                {% endif %}

                <h3>Додати розклад роботи тренера:</h3>
                <h3>{{ trainer.user.get_full_name }}</h3>
                <h5>Виберіть проміжок дат</h3>

                <input type="hidden" name="trainer_id" value="{{ trainer.user.id }}" required>

                <div class="form-group mt-3">
                    <label for="id_start_date" class="form-label">Початкова дата</label>
                    <input type="date" class="form-control" 
                        id="id_start_date" 
                        name="start_date" 
                        value="{{ form.start_date.value|date:'Y-m-d' }}" 
                        required>
                    {% if form.start_date.errors %}
                        <div class="alert alert-danger">{{ form.start_date.errors }}</div>
                    {% endif %}
                </div>
                
                <div class="form-group mt-3">
                    <label for="id_end_date" class="form-label">Кінцева дата</label>
                    <input type="date" class="form-control" 
                        id="id_end_date" 
                        name="end_date" 
                        value="{{ form.end_date.value|date:'Y-m-d' }}" 
                        required>
                    {% if form.end_date.errors %}
                        <div class="alert alert-danger">{{ form.end_date.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-group mt-3">
                    <label for="id_weekday" class="form-label">День тижня</label>
                    <select class="form-control" id="id_weekday" name="weekday" required>
                        {% for value, label in form.weekday.field.choices %}
                            <option value="{{ value }}" {% if form.weekday.value == value %}selected{% endif %}>
                                {{ label }}
                            </option>
                        {% endfor %}
                    </select>
                    {% if form.weekday.errors %}
                        <div class="alert alert-danger">{{ form.weekday.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-group mt-3">
                    <label for="id_start_time" class="form-label">Час початку роботи</label>
                    <input type="time" class="form-control" 
                        id="id_start_time" 
                        name="start_time" 
                        value="08:00" 
                        required>
                    {% if form.start_time.errors %}
                        <div class="alert alert-danger">{{ form.start_time.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-group mt-3">
                    <label for="id_end_time" class="form-label">Час завершення роботи</label>
                    <input type="time" class="form-control" 
                        id="id_end_time" 
                        name="end_time" 
                        value="16:00" 
                        required>
                    {% if form.end_time.errors %}
                        <div class="alert alert-danger">{{ form.end_time.errors }}</div>
                    {% endif %}
                </div>

                <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Додати розклад</button>
            </form>
        </div>

        <div class="col-md-6 bg-white p-4 rounded">
            <h4>Розклад тренера</h4>
            <table class="table table-bordered text-center">
                <thead>
                    <tr>
                        {% for day in schedule_days %}
                            <th>{{ day|date:"D" }}<br>{{ day|date:"d.m" }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for day in schedule_days %}
                            <td>
                                {% with schedule_by_day|get_item:day as schedules %}
                                    {% if schedules %}
                                        {% for schedule in schedules %}
                                            <p>{{ schedule.start_time|time:"H:i" }} - {{ schedule.end_time|time:'H:i' }}</p>
                                        {% endfor %}

                                        <a class="btn btn-danger btn-sm mt-2" 
                                            href="{% url 'booking:schedule_remove' id=trainer.user.id date=day|date:'Y-m-d' %} ">
                                            Видалити
                                        </a>
                                    {% else %}
                                        <p>Не працює</p>
                                    {% endif %}
                                {% endwith %}
                            </td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
