{% extends 'base.html' %}
{% load static humanize main_tags %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <div class="card mt-5 mb-5">
            <div class="row">
                <div class="col-md-4">
                    <img class="rounded" 
                        {% if trainer.avatar %}
                            src="{{ trainer.avatar.url }}" 
                        {% else %}
                            src="{% static 'images/not_found_image.png' %}" 
                        {% endif %}
                        class="img-thumbnail rounded-0"
                        alt="Trainer avatar" 
                        width="250" height="250"
                        data-bs-toggle="modal"
                        data-bs-target="#imageModal1">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <text class="text-uppercase">
                                {{ trainer.user.get_full_name }}
                            </text>
                        </h5>

                        <div class="bio">
                            {{ trainer.bio|linebreaks }}
                        </div>

                        {% if user.is_authenticated and user.id == trainer.user.id %}
                            <a href="{% url 'user:trainer_profile_change' %}" 
                                class="btn btn-dark mr-3 float-right"
                                title="Редагувати профіль тренера">
                                Редагувати <i class="bi bi-pencil-square"></i>
                            </a>
                        {% endif %}

                        {% if user.is_authenticated and user.client_profile  %}
                            <a href="{% url 'booking:reservation' trainer.user.id %}" 
                                class="btn btn-dark mr-2">
                                Забронювати час <i class="bi bi-calendar4-week"></i>
                            </a>
                        {% endif %}

                        {% if user.is_superuser %}
                            <a href="{% url 'booking:shedule_add' trainer.user.id %}" 
                                class="btn btn-dark mr-2">
                                Змінити розклад <i class="bi bi-calendar4-week"></i>
                            </a>
                            <a href="/{{ admin_path }}/users/trainer/{{ trainer.user.id }}/change/" 
                                class="btn btn-dark"
                                title="Панель адміністратора">
                                Адмін <i class="bi bi-kanban-fill"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% if user == trainer.user or user.is_staff %}
        <div class="col-md-10 bg-white p-4 mt-3 rounded">
            <h4>Резервації у тренера</h4>

            {% for reservation in trainer.trainer_reservations.all %}
                <div class="d-flex justify-content-between align-items-center border-bottom pb-2 mb-2">
                    <div>
                        {{ reservation.client.user.get_full_name }}
                        <strong>{{ reservation.start_date|naturalday }}</strong>
                        {{ reservation.start_date|date:'H:i' }} - {{ reservation.end_date|date:'H:i' }}
                    </div>
                </div>
            {% empty %}
                <div>Резервацій не має</div>
            {% endfor %}
        </div>
    {% endif %}
</div>

{% with modal_image=trainer.avatar modal_title=trainer.user.get_full_name %}
    {% include '_modal_image_preview.html' %}
{% endwith %}

{% endblock %}
