{% load static cache %}

<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'favicons/favicon.ico' %}">

    {% block css %}
    {% endblock %}

    {% block title %}
        <title>
            {% if title %}
                {{ title }} - {{ site_main_title }}
            {% else %}
                {{ site_main_title }}
            {% endif %}
        </title>
    {% endblock %}
</head>

<body>
    {% block content %}
    {% endblock %}

    <script src="{% static 'js/prism.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/htmx.min.js' %}"></script>
    <script src="{% static 'js/htmx-ws.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    
    {% block script %}
    {% endblock %}
</body>

</html>
