{% extends 'base.html' %}
{% load static humanize main_tags %}

{% block title %}
    <title>Профіль клієнта {{ detail_user.get_full_name }} - {{ site_main_title }}</title>
{% endblock %}

{% block content %}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg rounded bg-dark text-light" style="max-width: 800px; width: 100%;">
        <div class="row g-0">
            <!-- Аватар -->
            <div class="col-md-5 d-flex justify-content-center align-items-center p-4">
                {% if user.client_profile.avatar %}
                <img src="{{ user.client_profile.avatar.url }}"
                    class="img-fluid rounded-circle border border-warning"
                    alt="Фото ({{ user.get_full_name }})"
                    style="width: 200px; height: 200px; object-fit: cover;">
                {% else %}
                    <img src="{% static 'images/baseavatar.jpg' %}"
                        class="img-fluid rounded-circle border border-warning"
                        alt="Фото ({{ detail_user.get_full_name }})"
                        style="width: 200px; height: 200px; object-fit: cover;">
                {% endif %}
            </div>
            
            <!-- Інформація -->
            <div class="col-md-7">
                <div class="card-body">
                    <h3 class="card-title text-center text-uppercase text-warning">
                        {{ detail_user.get_full_name }}
                    </h3>
                    <p class="text-center text-secondary fs-5">Дата реєстрації: {{ detail_user.date_joined|naturalday }}</p>
                    
                    <div class="d-flex justify-content-center mt-5 gap-3">
                        {% if user.is_superuser %}
                            <a href="/{{ admin_path }}/users/client/{{ detail_user.id }}/change/" 
                                class="btn btn-warning px-4"
                                title="Панель адміністратора">
                                Адмін <i class="bi bi-kanban-fill"></i>
                            </a>
                        {% endif %}

                        {% if user.id == detail_user.id %}
                            <a href="{% url 'user:client_profile_change' %}" 
                                class="btn btn-warning px-4"
                                title="Редагувати профіль користувача">
                                Редагувати <i class="bi bi-pencil-square"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>

                    <!-- Резервації -->
        
        </div>
    </div>
</div>

{% if user.is_staff or user == detail_user %}
<div class="col-md-10 bg-dark p-4 mt-3 rounded shadow-sm border border-warning">
    <h4 class="text-warning mb-3">
        {% if user.is_staff %}
            Резервації користувача
        {% else %}
            Усі ваші майбутні резервації
        {% endif %}
    </h4>

    {% for reservation in client_reservations %}
        <div class="d-flex justify-content-between align-items-center border-bottom pb-2 mb-2">
            <div class="text-white mt-1 mb-2">
                <strong>{{ reservation.trainer.user.get_full_name }}</strong>
                <span title="Відділення">({{ reservation.departament.title }}) </span>
                <span>{{ reservation.start_date|naturalday }}</span>
                <span title="К-сть годин: {{ reservation.duration_in_hours }}">
                    {{ reservation.start_date|date:'H:i' }} - {{ reservation.end_date|date:'H:i' }}
                </span>
            </div>
        </div>
    {% empty %}
        <div class="text-secondary">Резервацій не має</div>
    {% endfor %}
</div>
{% endif %}

<br>

{% endblock %}
