{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Відновити пароль - {{ site_main_title }}</title>
{% endblock %}

{% block content %}

<div class="row justify-content-center mt-5">
    <div class="col-md-6 bg-dark p-5 rounded shadow-sm border border-warning" style = "min-width: 400px;">
        <h2 class="text-center mb-4 text-warning">Відновити пароль</h2>
        <p class="text-secondary fs-5 text-center">
            Введіть ваш Email, і ми надішлемо інструкції для відновлення пароля.
        </p>

        <form action="{% url 'user:password_reset' %}" method="POST">
            {% csrf_token %}

            {% if form.non_field_errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <p>{{ form.non_field_errors }}</p>
                </div>
            {% endif %}

            <div class="mb-4">
                <label for="id_email" class="form-label text-secondary">Email</label>
                <input type="email" 
                       class="form-control border border-warning" 
                       autofocus="true" 
                       id="id_email" 
                       name="email" 
                       value="{{ form.email.value|default:'' }}" 
                       placeholder="Введіть ваш Email" 
                       required>
            </div>

            <div class="mb-4">
                {{ form.captcha }}
                {% if form.captcha.errors %}
                    <div class="alert alert-danger alert-dismissible fade show">
                        {{ form.captcha.errors }}
                    </div>
                {% endif %}
            </div>

            <button type="submit" class="btn btn-warning btn-block w-100">Надіслати</button>
        </form>
    </div>
</div>

{% endblock %}
